[2015-04-01 20:52] asvetlov opened #4 "Implement session.created attribute"
A timestamp indicating the time when this session was created.

[2015-04-15 14:53] asvetlov opened #6 "Use criptography library instead of PyCrypto"
https://cryptography.io/

It works on Windows

[2015-04-30 17:58] playpauseandstop opened #9 "Fail silently when no key available in session storage"
Let's imagine standart approach for getting user ID from request session:

[code]

But with ``aiohttp_session==0.1.1`` this makes no sense as ``session.get`` returns session storage instance instead of looking up for key in ``_mapping`` dict. Currenlty in this case I need to use:

[code]

or even

[code]

but really prefer to have ``get``, ``setdefault``, and ``update`` methods overriden in sessio

[2015-05-01 21:26] asvetlov commented on #9
`get_session` coroutine returns `Session` instance, not storage. Isn't it?

`Session` is derived from `MutableMapping` which provides `get`, `setdefault` etc.

[2015-05-02 08:46] playpauseandstop commented on #9
Strange, but it starts working now. But yesterday I'm for sure have behavior when ``session.get`` returns ``session`` instance instead of value from session.

Closing as ``invalid``

[2015-05-02 08:46] #9 closed

[2015-05-04 14:19] netpie opened #10 "Should pass max_age to AbstractStorage.save_session()？"
need different session expiration policies.

[2015-05-04 14:53] netpie commented on #10
maybe better to move or copy _max_age to the session object.

[2015-05-04 16:49] asvetlov commented on #10
@netpie sorry, I don't follow.
Would you elaborate what API do you need and why?

[2015-05-05 00:25] netpie commented on #10
I want to change session's expiration in session_middleware or orther request handler. How to do?
Need API: def save_session(self, request, response, session, max_age = None)
      If max_age is not None, change current seesion' expiration.

[2015-05-06 13:37] asvetlov commented on #10
I think `save_session` is not need new parameter.
`max_age` property in session object should be enough.

[2015-05-07 01:54] netpie commented on #10
Thanks!

[2015-05-25 13:07] gleb-chipiga commented on #6
PyCrypto has not been updated more than one year https://github.com/dlitz/pycrypto/commits/master

Another good library is PyNaCl https://github.com/pyca/pynacl with SecretBox function http://pynacl.readthedocs.org/en/latest/secret/

[2015-05-30 04:10] iho commented on #6
[code]

[2015-05-30 04:11] iho commented on #6
Чи може це?
http://cryptography.readthedocs.org/en/latest/hazmat/primitives/symmetric-encryption/#cryptography.hazmat.primitives.ciphers.Cipher

[2015-06-19 20:14] AlexKovalevych opened #12 "Not able to invalidate session, using EncryptedCookieStorage"
These lines https://github.com/aio-libs/aiohttp_session/blob/master/aiohttp_session/__init__.py#L161-L162 will never be executed in case of usage EncryptedCookieStorage:

Here https://github.com/aio-libs/aiohttp_session/blob/master/aiohttp_session/cookie_storage.py#L43-L47
in case of empty dict `session._mapping`  variable `cookie_data` is `b'{}              '` and after all transformations `b64co

[2015-06-20 10:14] asvetlov commented on #12
Good catch! Would you make Pull Request?

[2015-06-22 11:20] AlexKovalevych commented on #12
Issue can be closed now.

[2015-06-22 11:25] asvetlov commented on #12
Solved

[2015-06-22 11:25] #12 closed

[2015-08-07 08:46] skatsaman opened #15 "pip install FileNotFoundError"
pip install crashed with strace:

(VENV) crwnlssmbp:aiohttp-session soullu$ python ./setup.py install
Traceback (most recent call last):
  File "./setup.py", line 27, in <module>
    long_description='\n\n'.join((read('README.rst'), read('CHANGES.txt'))),
  File "./setup.py", line 16, in read
    return open(os.path.join(os.path.dirname(__file__), f)).read().strip()
FileNotFoundError: [Errno 2] No

[2015-08-07 12:51] asvetlov commented on #15
Fixed in `0.1.2`
Thanks for report

[2015-08-07 12:51] #15 closed

[2015-09-07 16:48] asvetlov commented on #6
Done by #16

[2015-09-07 16:48] #6 closed

[2015-09-07 18:24] asvetlov commented on #4
Done

[2015-09-07 18:24] #4 closed

[2015-11-08 02:15] asvetlov commented on #10
Fixed by 320861cbea08a4661bccc3cce7752204090e2708

[2015-11-08 02:15] #10 closed

[2015-11-24 04:58] asvetlov opened #21 "Respect Session.max_age on cookie saving"

[2015-11-24 14:07] inzem77 opened #22 "error appears when i would like to use redis session"
The project in https://github.com/inzem77/ws-chat
[code]

[2015-11-24 14:29] asvetlov commented on #22
What is *redis* parameter in your case?

According to [doc](http://aiohttp-session.readthedocs.org/en/latest/reference.html#redis-storage) you should use result of [yield from create_pool()](http://aioredis.readthedocs.org/en/latest/api_reference.html#aioredis.create_pool) call.

[2015-11-24 14:48] inzem77 commented on #22
i am using yield from. The error repeat.
Entire code https://github.com/inzem77/ws-chat/blob/master/chat.py
[code]

[2015-11-24 14:50] asvetlov commented on #22
Use `redis = loop.run_until_complete(create_redis_pool('localhost', 6379))`

[2015-11-24 14:50] #22 closed

[2015-11-24 14:58] inzem77 commented on #22
this is also not work

[2015-11-24 15:34] asvetlov commented on #22
It works indeed, you should not return `None` from `create_redis_pool` coroutine also.

[2015-11-24 16:01] inzem77 commented on #22
ok. My script is working. Please you can add the example into manual.
[code]

[2015-11-24 16:01] inzem77 commented on #22
Thank you!

[2015-11-24 16:11] asvetlov commented on #22
Done

[2015-12-31 05:26] imbolc opened #23 "saving of session doesn't work with `raise HttpFound`, but it works well with `return`"
Here is gist I used for test: https://gist.github.com/imbolc/aa0f2cfc89f0a7994e5d

[2016-01-01 01:25] asvetlov commented on #23
You are right.
The question is: what exceptions should be processed as OK result for saving session?
It first glance I suggest `HTTPException` with status code less than 400.
What do you think about?

[2016-01-01 01:41] imbolc commented on #23
Yes, i think so. But also it would be better to have some configuration
setting to change this behavior at app-level. And something like
`session.rollback()` method at handler-level?

On Fri, Jan 1, 2016 at 8:25 AM, Andrew Svetlov <notifications@github.com>
wrote:

[2016-01-01 18:44] asvetlov commented on #23
What's configuration purpose? And what `session.rollback()` should do?

[2016-01-02 05:13] imbolc commented on #23
I meant of using settings variable instead of hardcode 400 status code. Rollback mean "forget any changes of session".
[code]

[2016-01-02 20:14] asvetlov commented on #23
Sounds good.
Would you provide a PR?

[2016-01-03 03:44] imbolc commented on #23
Done. Without `rollback`, it looks excessive from this perspective :)

[2016-01-03 20:32] jettify opened #25 "Flash messages support"
Do we need some sort of flash messages support? Or may be this feature is out of scope of aiohttp_session?

Most frameworks have flash messages:
pyramid: http://docs.pylonsproject.org/projects/pyramid/en/1.0-branch/narr/sessions.html#flash-messages
flask: http://flask.pocoo.org/docs/0.10/patterns/flashing/

Particularly pyramid has it integrated to session object.

[2016-01-04 03:50] imbolc commented on #25
I think it will look better as a separate package because it brings some dependencies like `aiohttp_jinja2` for context_processor implementation.

[2016-01-04 10:33] jettify commented on #25
Do not follow, it is couple of methods:
`flash()` - add message to the queue, where queue is located in session object
`pop_flash()` - pop messages from the queue

Do not see why it should depend on `aiohttp_jinja2`

[2016-01-04 12:04] imbolc commented on #25
Because flash messages doesn't make much sense without templates. And I think there is not so much code to split it into parts. Exactly it took 22 loc in my last implementation: https://gist.github.com/imbolc/ca43545ca31329b4f9e2

[2016-01-04 12:11] imbolc commented on #25
Also, this approach has benefits of brevity:
[code]
instead of
[code]

[2016-01-04 12:21] asvetlov commented on #25
@imbolc `request` is not necessary in your last example. `session` is coupled to request itself.
Anyway, let's postpone the issue.
For now I have a feeling that flash messages are part of UI library (while they are built on top of user session, sure).

Another interesting question is API for CSRF checks BTW.

[2016-01-05 23:05] #23 closed

[2016-01-16 05:44] imbolc opened #27 "processing of cryptography.fernet.InvalidToken exception"
For now get_session just cause this exception, and I don't understand what to do with this. I would prefer lib to create new session silently.

[2016-01-17 22:12] asvetlov commented on #27
So you got exception in case of broken data?

[2016-01-18 02:00] imbolc commented on #27
I got it in case of changing of session key.

On Mon, Jan 18, 2016 at 5:12 AM, Andrew Svetlov <notifications@github.com>
wrote:

[2016-01-27 05:46] jashandeep-sohi opened #28 "Q: uuid4 vs urandom(16) for Redis keys"
This is more of question than an issue (and maybe not even specific to `aiohttp_session`), but I was wondering why are the keys using `uuid4` when `codecs.encode(urandom(16), 'hex')` would suffice?
Is it just a preference or is there some deeper reason?

[2016-01-27 12:21] asvetlov commented on #28
It's just my preference.
uuid4 uses `urandom(16)` internally.

[2016-01-27 19:00] jashandeep-sohi commented on #28
Would it be okay if I add a `key_factory` parameter to `RedisStorage`? Default could still be `uuid4`.

[2016-01-28 12:28] asvetlov commented on #28
Please do

[2016-02-21 03:50] minamorl commented on #27
Hi, same issue occured in my environment. Traceback:
[code]

[2016-02-26 17:22] TechBK opened #30 "Occur error, if session save a bson.objectid.ObjectId instance."
When i try do
[code]
with user is a document of mongo, my program occur a error:
[code]

#############################################
How do i replace json encoder with bson encoder?
https://github.com/aio-libs/aiohttp_session/blob/master/aiohttp_session/cookie_storage.py#L51

[2016-02-26 21:38] asvetlov commented on #30
Unfortunately using custom JSON serializer is not possible in current `aiohttp_session` version.

Adding `encoder` and `decoder` params to `SimpleCookieStorage`, `EncryptedCookieStorage` and `NaClCookieStorage` makes sense.

We are already accept these params in `RedisStorage`.

I suggest moving `self._encoder` and `self._decoder` to `AbstractStorage` constructor.

The patch is very easy.
I'll acc

[2016-02-26 21:42] asvetlov commented on #30
As workaround I suggest converting `ObjectId` to string and back manually on every access to session data but really prefer to have `encoder`/`decoder` support for every storage class.

The change deserves a new aiohttp_session release.

[2016-02-27 06:24] TechBK commented on #30
I am happy and look forward to becoming one comtributor.
in addition, I would like to ask how to commit a contribute code?

[2016-02-27 10:13] asvetlov commented on #30
@TechBK you should create a [Pull Request](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=github+pull+request)

[2016-02-27 14:14] TechBK commented on #30
:smiley: ok

[2016-02-28 19:56] TechBK commented on #30
@asvetlov hey, my friend. check Pull Request.

[2016-04-16 11:52] AdaJass opened #32 "Why the example code always fail to run???"
You must feel frustrated, if you try a new thing but fail in the simplest way. I run this code in windows 32 system.
the code is the example you give.
`
import asyncio
import time
from aiohttp import web
from aiohttp_session import get_session, session_middleware
from aiohttp_session.cookie_storage import EncryptedCookieStorage

@asyncio.coroutine
def handler(request):
    session = yield from get

[2016-04-16 11:55] AdaJass commented on #32
Traceback (most recent call last):
  File "C:\Users\Administrator\Desktop\HotIO\app.py", line 23, in <module>
    loop.run_until_complete(init(loop))
  File "D:\Anaconda3\lib\asyncio\base_events.py", line 337, in run_until_complete
    return future.result()
  File "D:\Anaconda3\lib\asyncio\futures.py", line 274, in result
    raise self._exception
  File "D:\Anaconda3\lib\asyncio\tasks.py", line

[2016-04-16 12:34] asvetlov commented on #32
Please use `EncryptedCookieStorage(b'a'*32)` or any 32-length bytesting

[2016-04-16 16:13] AdaJass commented on #32
i try to wrote session myself and done. i don't know how to delete the "session" immediately when the user just close browser. So i set an interval to check the session table. could you tell me any idea about it, just the idea without any detail.  I think the cookie  is no need to encrypt if just use for mark user ,, unless you use it to transfer message.

e..the example said the key is 16 bytes,,

[2016-04-27 14:19] avanov opened #33 "Non-cookie-based client-server session contract"
Hi!

Is there a strong reason why aiohttp_session in its internal API relies strictly on cookies as the only medium to communicate session information to/from clients (https://github.com/aio-libs/aiohttp_session/blob/master/aiohttp_session/__init__.py#L160-L216)?

For instance, I can think of a REST API workflow that uses HTTP headers to provide both a session token and a csrf-preventing token. Bu

[2016-05-13 02:22] shicky commented on #25
I also do not understand how flash depends on template engine.
As @asvetlov mentioned, flash is necessary to implement CSRF check.

[2016-05-13 03:38] shicky commented on #33
Hi Maxim,

I am just curious. HTTP being stateless, how would browser know to include custom HTTP header for next request?
Wouldn't you still have to rely on cookie for persistent session data?

[2016-05-13 04:10] shicky commented on #32
I have updated working [demo code here.](https://github.com/shicky/aiohttp_session/blob/master/demo/main.py)

[code]

[2016-05-13 12:38] avanov commented on #33
@shicky, not necessarily.

Some frontend web-frameworks [allow](http://emberjs.com/api/data/classes/DS.RESTAdapter.html#toc_headers-customization) custom headers to be defined application-wide. Another tricky question is - at which particular moment and on what particular event an access (session) token should be registered by the application. And for many applications it is either the very first

[2016-06-21 17:50] IlyaSemenov commented on #25
I created the simple session flash library based on @imbolc's gist:

https://github.com/IlyaSemenov/aiohttp_session_flash

It has a few enhancements over the original gist:

* session is not re-saved on each HTTP request unless flash messages were pushed or popped
* it doesn't lose flash messages followed by `raise web.HTTPFound(...)`
* it has tests and pypi package

[2016-07-15 08:29] imbolc opened #37 "Description of max_age=None looks wrong"
The docs says "max_age - Maximum age for session data, int seconds or None for infinite session.". But  in reality session with `max_age=None` lives until browser is closed.

[2016-07-15 09:48] asvetlov commented on #37
I consider it as documentation bug.

@imbolc would you make a PR for doc fix?

[2016-07-15 09:55] asvetlov commented on #33
@avanov
I afraid you are mixing two different concepts: sessions and security.
`aiohttp_session` is for *HTTP cookies based solutions* only.
For aspects like credentials and permissions please take a look on `aiohttp_security` library.

[2016-07-15 09:55] #33 closed

[2016-07-15 10:00] asvetlov commented on #32
Fixed by #34

[2016-07-15 10:00] #32 closed

[2016-07-15 10:02] asvetlov commented on #27
Fixed by #29

[2016-07-15 10:03] #27 closed

[2016-07-16 09:57] imbolc commented on #37
Done: #38

[2016-07-16 13:05] asvetlov commented on #37
Fixed by #38

[2016-07-16 13:05] #37 closed

[2016-08-02 19:15] mentaal opened #39 "typos in examples"
In README, there is:
`from cryptorgraphy import fernet` - should be `cryptography`

There is also: `Requires crypotgraphy library:` with a similar typo.

When trying the first example in README, the `trivial usage example`, (and after fixing the typo)
I get:

`  File "c:\projects\asyncio_venv\lib\site-packages\aiohttp\web.py", line 305, in run_app
    loop = app.loop
AttributeError: 'NoneType' obj

[2016-08-02 19:45] asvetlov commented on #39
@mentaal thanks very much for a bug report.
I've fixed README, hope it now is good.

[2016-08-02 19:46] #39 closed

[2016-08-05 11:29] mentaal opened #40 "SimpleCookieStorage not working?"
First of all, apologies if this is not an issue and I'm just doing something wrong.
Without going into the reason (that is a topic for another potential issue), I am trying to use the SimpleCookieStorage class.

I have a simple server which uses a slightly modified piece of example code. This server works just fine with the EncryptedCookieStorage but it dies when I try and use it with SimpleCookie

[2016-08-05 11:41] mentaal commented on #40
Sorry! Turns out is wasn't an issue, I think the browser was sending the previously encrypted cookie which was trashing the server. By clearing the cookies from the browser, it works fine

[2016-08-05 11:41] #40 closed

[2016-08-27 18:10] asvetlov opened #42 "Set expires along with max_age"
See KeepSafe/aiohttp#1056

[2016-08-27 18:11] asvetlov commented on #21
Fixed

[2016-08-27 18:11] #21 closed

[2016-09-07 13:23] asvetlov opened #44 "Respect session.max_age in redis storage"
Here https://github.com/aio-libs/aiohttp_session/blob/master/aiohttp_session/redis_storage.py#L51
should be `max_age=session.max_age`.

[2016-09-07 17:36] asvetlov commented on #42
Fixed by #43

[2016-09-07 17:36] #42 closed

[2016-09-08 10:03] asvetlov commented on #44
Fixed by #45

[2016-09-08 10:03] #44 closed

[2016-09-21 17:02] mosquito opened #46 "Yum broken when RPM from this requirement with underscores."
Please never use underscores in python-packages names.

[PEP-008 conatins](https://www.python.org/dev/peps/pep-0008/#package-and-module-names)

We have a really problem. When our build system convert all dependencies to RPM (using [FPM](https://github.com/jordansissel/fpm)) yum is broken. We are can't use this package in our projects.

[2016-10-24 11:43] asvetlov commented on #46
Fixed by 74e1634

[2016-10-24 11:43] #46 closed

[2016-12-03 13:37] dannyclark opened #81 "With max_age set, cookies expire immediately on IE11 or Edge"
With max_age set, expiry is calculated using `time.gmtime(time.monotonic() + max_age)`

I don't think `time.monotonic()` reliably gives number of seconds since the epoch, so on my server, expiry is calculated to a 1970 date e.g. `expires=Sat, 31-Jan-1970 04:52:49 GMT` and a user using IE or Edge never gets a cookie. Interestingly Firefox and Chrome ignore the old expires value and the cookie works

[2016-12-04 20:44] asvetlov commented on #81
`asyncio` uses monotonic timer, I just borrowed it without careful thinking.
Yes, in this particular case (calculating absolute time, not relative to current time) we should use `time.time()`.

Very nice catch, BTW.
Thank you a lot!

[2016-12-04 21:55] #81 closed

[2016-12-04 21:59] asvetlov commented on #81
Released as 0.8.0

[2016-12-12 14:29] barrachri opened #85 "Clarify the Redis key inside the docs"
Actually the doc doesn't specify that they key inside Redis would be: AIOHTTP_SESSION_valueofthecookie

[2016-12-12 14:48] asvetlov commented on #85
Who need this info?
Anyway, PR is welcome!

[2016-12-12 14:51] barrachri commented on #85
Well my use case is probably "strange" but I needed to check the validity of the session outside aiohttp.

I will send a PR !

[2017-01-15 15:39] jettify commented on #85
Resolved via https://github.com/aio-libs/aiohttp-session/pull/94

[2017-01-15 15:39] #85 closed

[2017-01-19 12:04] barrachri opened #98 "Error with setup and PyTest"
It's probably a collision between names but when you import

`from aiohttp_session import setup`

in your PyTest you get

[code]

[2017-02-21 10:07] ghost opened #124 "aiohttp-session does not set cache-control headers"
The aiohttp-session does not set cache-control headers (such as private), to prevent session based content to be cached by intermediate hosts; this could potentally lead to information leakage

[2017-05-22 12:29] panagiks opened #163 "Could/should an expired cookie be returned on session.invalidate"
Hello,

let me start by thanking you for a great library that has saved me tons of time :)

Now on to the matter at hand. A lot of web services (and mainly websites) return an expired version of the logged in user's cookie upon logout. This helps since most browsers will delete expired cookies and the front-end doesn't have to bother with cookie management.

Is a feature like this, for example ret

[2017-05-22 18:12] asvetlov commented on #163
IIRC the library uses `AbstractStorage.save_session` for saving session data: https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L209-L219

In turn it calls `resp.del_cookie` if the session is empty (`session.invalidate()` cleans up the session content).

`del_cookie` sets expired cookie for given name.

Thus it should work exactly as you requested, isn't it?

[2017-05-22 18:24] asvetlov commented on #124
Sorry for late answer but I don't agree.
If a storage implementation saves session data in cookie as not encrypted data malware proxy could grab this sensitive data regardless to `cache-control`.

If the data is encrypted or stored locally on the server -- I see no leakage.

Would you show the scenario where security problem is possible?

[2017-05-22 19:13] asvetlov commented on #98
Yes, you are right.
`pytest` uses `setup` and `teardown` functions for calling module-level initializers and finalizers respectively.

Thus having `setup` name in `test_xxxx.py` conflicts with pytest patterns.
As workaround you could use `from aiohttp_session import setup as aiohttp_session_setup` or always mention the library name:
[code]
Both approaches doesn't conflict with `pytest` tool.

[2017-05-22 19:13] #98 closed

[2017-05-23 06:32] panagiks commented on #163
Hmm I think I see where the problem is. I'm using Redis as storage and looking at the code in [https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/redis_storage.py#L39-L55](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/redis_storage.py#L39-L55) there is not check to see if cookie data is empty (only if key exists) an save_cookie is called with the key

[2017-05-23 07:06] asvetlov commented on #163
Please do

On Mon, May 22, 2017, 23:32 Kolokotronis Panagiotis <
notifications@github.com> wrote:

--
Thanks,
Andrew Svetlov

[2017-05-25 05:09] decapo01 opened #167 "AttributeError: 'Response' object has no attribute 'started'"
I'm using version 0.5.0 with python 3.6.  I've followed the example code and am using the cookie storage.  I keep getting the error AttributeError: 'Response' object has no attribute 'started' in ```aiohttp_session/__init__.py", line 138, in middleware```.

Here is my set up code.

[code]

the error occurs only when I try to load any page registerd in the app.

[2017-05-25 06:10] panagiks commented on #167
Hello,

from a quick look into t[he code and its git history](https://github.com/aio-libs/aiohttp-session/commit/b76ea3b8c7690907c9aaee3c49cc293730d49606) you can see that resp.started was dropped before v0.6.0 and from a look to [aiohttp's changelog](http://aiohttp.readthedocs.io/en/stable/changes.html#rc1-2017-03-15) Response.started has been discontinued since 2017-03-15. As a result if you are

[2017-05-25 12:20] decapo01 commented on #167
That was it.  I was looking at the releases and the newest version appeared to be 0.5.0.  I upgraded to 0.8.0 and everything works as expected.

[2017-05-27 12:46] barrachri opened #170 "Issue with domain and path"
https://github.com/aio-libs/aiohttp-session/pull/103

[2017-05-28 03:23] #170 closed

[2017-05-28 04:10] #167 closed

[2017-07-26 07:19] #124 closed

[2017-07-27 11:55] asvetlov commented on #163
Fixed by #166

[2017-07-27 11:55] #163 closed

[2017-09-13 05:42] smialy commented on #28
#205

[2017-09-13 22:14] smialy commented on #28
To close?

[2017-09-19 07:45] asvetlov commented on #28
Fixed by #205

[2017-09-19 07:45] #28 closed

[2017-10-02 09:27] hellysmile opened #209 "time.monotomic() ot loop.time() should be used instead of time.time()"
https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L29

https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L215

[2017-10-02 10:19] asvetlov commented on #209
No. `time.monotonic()` has non-deterministic base. Looks like it is a time after switching power on or something like this.
Thus monotonic time cannot be saved.

[2017-10-02 10:33] hellysmile commented on #209
https://docs.python.org/3/library/time.html#time.monotonic

As I understand time can not goes down on for example TZ changes.

Right now there might be some time slop between `created` and `save_cookie `

[2017-10-24 15:54] machakux opened #213 "Support for cookieless sessions"
Hi,

I think there are reasonable use cases where people would like to use sessions when using aiohttp without `aiohttp.web` or `cookies` .

For example
- When using aiohttp/asyncio inside other frameworks and would like to use aiohttp in asynchronous session management
- When developing something like a chatbot in platforms like [messenger platform](https://developers.facebook.com/docs/messenger-

[2017-10-25 09:14] asvetlov commented on #213
But how it works with `aiohttp_session.get_session(request)`?

[2017-10-25 10:11] machakux commented on #213
It won't work with the current `aiohttp_session.get_session` right now because aiohttp_session.get_session requires aiohttp.web.Request object for retriving session key and storage instance .

I think some of possible solutions to this are

 - Modifying `aiohttp_session.get_session` to accept either a request or session key and storage instance
- Creating an independent helper function for getting

[2017-10-25 10:56] asvetlov commented on #213
The key idea for the project is setting up the session storage by `setup()` and getting session by unified `get_session()` call regardless to exact storage implementation.

You can implement own `RedisCookielessStorage` with overriding `load_session(request)` and `save_session(request, response, session)`. Just don't touch cookies.

But using the library without request/response is out of the proj

[2017-10-25 11:43] machakux commented on #213
Ok ... Creating a custom session storage by deriving from `AbstractStorage` or even by using a  plain python client for redis is not very difficult.

If cookieless sessions or using aiohttp_session with other frameworks aside from `aiohttp.web` is out of project scope I think this issue can be closed.

[2017-10-25 12:44] asvetlov commented on #213
The project is called *atiohttp-session* at least, it is intended to work with `aiohttp.web` ;)

[2017-10-25 12:44] #213 closed

[2017-10-26 06:05] cdunklau commented on #209
@hellysmile Sure, but consider:

Using `time.monotonic()` would prevent cookies created by one server to be compared properly on another, as well as on the same server after it restarts.

Also, time.time() is a unix timestamp, so it's not affected by TZ offsets. NTP sync is the only concern, but that's just how it is.

[2017-10-26 06:14] cdunklau opened #214 "Does aiohttp-session use pickle?"
I was considering using this lib until I saw in the docs that it used pickle:

http://aiohttp-session.readthedocs.io/en/latest/reference.html#aiohttp_session.Session.changed

However, I can't seem to find any reference to pickle in the source, it seems like all of the storage backends use json, not pickle. Is this a doc bug? Should it say "json serializable" instead of "picklable"?

[2017-10-26 06:39] asvetlov commented on #214
Yes, you are right.
Would you make a Pull Request with doc update?

Pickle is too dangerous, you can serialize a half of the program memory in a moment ;)

[2017-10-26 06:39] asvetlov commented on #209
Let's close, fix is impossible.

[2017-10-26 06:39] #209 closed

[2017-10-26 07:56] cdunklau commented on #214
Sure, I'll get on that after work today.

[2017-10-26 07:59] asvetlov commented on #214
thanks

[2017-10-26 11:58] achernetsky opened #215 "A trivial usage example with redis session storage"
Hi,

Could you add to docs a trivial example usage `aiohttp-session` with `aiohttp` and `aioredis`?

Thanks.

[2017-10-26 12:42] asvetlov commented on #215
It's not different from other storages.
If you want to make a Pull Request -- you are welcome though.
`tests/test_redis_storage.py` might illustrate the usage.

[2017-10-26 12:43] asvetlov opened #216 "Rewrite middleware to use new styled middlewares from aiohttp 2.3"
`@web.middleware` should be used.
The task is trivial, I hope somebody will pick it up.

[2017-10-26 15:54] panagiks commented on #216
I'll take a look to the new midleware style and I hope to have it ready by tomorrow :)

[2017-10-26 15:58] asvetlov commented on #216
http://aiohttp.readthedocs.io/en/stable/web.html#middlewares

[2017-10-26 15:59] asvetlov commented on #216
I believe the doc has enough information.
Otherwise it should be improved ;)

[2017-10-26 16:05] achernetsky commented on #215
@asvetlov, how about this example?

[code]

[2017-10-26 16:15] panagiks commented on #216
Yeap the docs were on point :+1:

[2017-10-27 04:39] panagiks opened #218 "[Redis] Sentinel Pool support"
As it seems from [Issue 185](https://github.com/aio-libs/aioredis/issues/185) and [some references in documentation](http://aioredis.readthedocs.io/en/latest/sentinel.html#sentinelpool) aioredis will be adding Sentinel support in V1.0.
Is it within the project's scope to support both connection pools and sentinel pools?

If so I'd like to take a swing at implementing this feature once aioredis ver

[2017-10-27 05:16] #216 closed

[2017-10-27 05:19] asvetlov commented on #215
Do you want to push it in `./demo` ?

[2017-10-27 05:24] asvetlov commented on #218
+1 for sentinel support.

Regarding to tests: we should run redis in docker like https://github.com/aio-libs/aiopg and https://github.com/wikibusiness/aioelasticsearch do (take a look on fixtures in `./tests/conftest.py`).

Migration to docker might make next steps easier. For cluster we can start multiple docker containers in this way.

[2017-10-28 10:33] achernetsky commented on #215
@asvetlov, I added this example to `./demo/redis_storage.py`. Please see the PR.

[2017-10-28 17:59] #215 closed

[2017-10-29 10:21] #214 closed

[2017-10-30 09:09] achernetsky opened #221 "Testing data in session"
Hello,

Tell me please, how I get session in test? For example, check `last_visit is not None` from https://github.com/aio-libs/aiohttp-session/blob/master/demo/redis_storage.py ?

[code]

Thanks

[2017-10-30 09:13] asvetlov commented on #221
Are you looking for something like this? https://github.com/aio-libs/aiohttp-session/blob/master/tests/test_redis_storage.py#L74-L88

[2017-10-30 09:26] achernetsky commented on #221
@asvetlov, yes, I looked this code, but I can not replace the `handler` https://github.com/aio-libs/aiohttp-session/blob/master/demo/redis_storage.py#L10
That is, I want to test handler, not replace and test.

[2017-10-30 09:58] asvetlov commented on #221
Another option is applying a test middleware.
The session is available from it.

[2017-10-30 11:42] achernetsky commented on #221
I've been thinking and came up
[code]

[2017-10-30 11:43] asvetlov commented on #221
Yes, it also works

[2017-10-30 11:43] asvetlov commented on #221
Let's close the issue

[2017-10-30 11:43] #221 closed

[2017-11-03 14:56] Yaser-Amiri opened #223 "Tests are failing!"
Hi!
Tests of test_response_types.py arn't pass!
Is this problem just for me?
I'm using Python 3.5.2.

[2017-11-03 15:01] asvetlov commented on #223
The build is passing on CI: https://travis-ci.org/aio-libs/aiohttp-session
Maybe you didn't upgrade aiohttp to 2.3+?

[2017-11-03 15:04] asvetlov commented on #223
Just released 1.1 with upgraded requirements.

[2017-11-03 15:06] Yaser-Amiri commented on #223
I'm using aiohttp 2.3.1!

`=============================================== test session starts ================================================
platform linux -- Python 3.5.2, pytest-3.2.3, py-1.4.34, pluggy-0.4.0
rootdir: /home/yaser/GIT/sdf/aiohttp-session, inifile:
plugins: cov-2.5.1, aiohttp-0.1.3
collected 3 items

test_response_types.py .FF

==================================================

[2017-11-03 15:12] Yaser-Amiri commented on #223
I'm using aiohttp 2.3.1 and aiohttp-session with commit number 74cc25cbec388fa1a6a7aefa20a2db0ef3d492a5 but problem exists yet.

traceback:
[https://paste.ubuntu.com/25880097/](url)

[2017-11-03 15:24] panagiks commented on #223
Hm ... besides CI builds I just run the tests on Ubuntu 16.04/Py3.5.2 and everything is passing. Could you post the output of:
`pip list`

[2017-11-03 15:27] Yaser-Amiri commented on #223
I'm using ubuntu 16.04 too!
pip3 list:
[code]

[2017-11-03 15:44] panagiks commented on #223
Two things that might help:
* Do a `git status` and make sure that you are working on a clean copy (there are no changes)
** If you have made any changes do a `git stash` run the tests and then `git stash apply` and rerun them (to make sure that any changes don't affect the outcome of the tests)
* Create a virtualenv and pip install the requirements-dev.txt inside the virtualenv (To make sure that

[2017-11-03 16:14] Yaser-Amiri commented on #223
I cloned a new instance and ran it in another virtualenv but no change happened.
So I created another virtualenv in a virtual machine and all tests passed amazingly :/
Sorry and thank bro.

[2017-11-03 16:50] #223 closed

[2017-11-04 13:16] Zwork101 opened #225 "How does aiohttp tell what cookies serve a certain domain?"
After looking over the code, I was alarmed by the fact, that no where could I see, that the domain was passed into the cookie jar. This means that if cookies had the same name, they would be overwritten (unless I'm wrong).

[2017-11-04 19:04] #225 closed

[2017-11-06 11:34] asvetlov opened #226 "Rewrite tests to use docker"
Like aiopg
We need to use dockerized redis and memcache servers in our tests.
It simplifies local development.

[2017-11-08 12:42] panagiks opened #228 "[Suggestion][middleware] Add flag to silence storage exceptions"
Would it be in scope of the project to add the option to silence Exceptions raised during `storage.save_session` that happens [here](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L142)?

My reasoning is that if you have a long-running or computationally expensive request that completed successfully you wouldn't want to loose your response (since a raise at tha

[2017-11-08 12:57] panagiks commented on #226
+1
I can give it a shot in the weekend.

[2017-11-08 14:39] jettify commented on #226
Please use `aiodocker` library, some inspiration you may find here:
simple example
https://github.com/aio-libs/aiozipkin/blob/master/tests/docker_fixtures.py
and more complex
https://github.com/aio-libs/aioodbc/blob/master/tests/conftest.py

[2017-11-08 15:02] asvetlov commented on #226
Tests recreate a loop every time.
How aiodocker works in this case if it is used session scoped fixture?

[2017-11-08 16:19] jettify commented on #226
Loop is session scoped everywhere, in tests too

[2017-11-10 05:15] asvetlov commented on #228
Not sure what to do.
Session could store not only `last_visit` value but very sensitive data (like information about logged in user).
Ignorance of the information update could lead to very serious problems.
Thus I think your idea is quite dangerous.
Also I don't remember such functionality in other python frameworks.

[2017-11-10 08:26] panagiks commented on #228
Thinking that lead me to the second suggestion. Re-raising a custom error that will contain the response that is returned [here](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L127), or even just injecting the response to the caught exception and re-raising it (see example in the end). And while allowing a silencing is not by it self dangerous (if someone knowi

[2017-11-10 21:07] asvetlov commented on #228
I don't ready for such change in `aiohttp-session`, at least for now.
You could write a custom storage which wraps `save_session` and does everything what your want.
[code]

[2017-11-11 12:09] panagiks commented on #228
Ok, I'll be closing the issue then.

The wrapper approach seems to also be able to solve my issue. Thank you :)

[2017-11-11 12:09] #228 closed

[2017-11-13 10:40] #226 closed

[2017-11-13 10:50] asvetlov commented on #226
It means tests are not isolated, isn't it?

[2017-11-20 03:45] hubo1016 opened #231 "Redis storage breaks with aioredis 1.0"
[code]

There are breaking changes in aioredis 1.0, especially Python 3.3, 3.4 supports are dropped, See https://github.com/aio-libs/aioredis/releases/tag/v1.0.0

May be fixed by limiting the aioredis version or upgrading to the new API?

[2017-11-20 06:43] panagiks commented on #231
There's already talk in #218 for upgrading to the new aioredis API. So I think it would solve the problem (but not sure what the best sort-term solution would be).

@asvetlov I'll have a look into porting to the new API it in the next couple days. Also since I see that a couple aio-libs go towards dropping support for Python3.4 should aiohttp-session also migrate to the new async/await syntax?

[2017-11-20 07:34] gonardfreeman opened #232 "React + Session"
Hello guys, how to write cookie session to my react app, when i'm in developing mode? I'm syncing data via proxy.
In ideal I'm need to create session on my react app, because when I'm coping cookie to react and trying to read it on server app response with: "Cannot decrypt cookie value, create a new fresh session".

[2017-11-20 07:54] asvetlov commented on #231
I've published aiohttp-session 1.2.1 with aioredis requirement `<1.0`.

Let's port a new redis API, get rid of `yield from` and make a major release.

[2017-11-20 07:54] #231 closed

[2017-11-20 07:55] asvetlov commented on #232
Sorry, I don't use React and cannot figure out what is broken.
Could you pin down your problem?

[2017-11-20 08:08] gonardfreeman commented on #232
@asvetlov I'm figure out where was problem) when you use create react app and make some GET/POST you need add additional param to your request `credentials: 'include'`, so your fetch will look like this:
[code]
it will pass cookies via proxy, because with out this there where no cookies in request param of view, so `get_session(request)` cannot read it.

[2017-11-20 08:08] #232 closed

[2017-11-21 11:54] panagiks commented on #218
From a first few trials I made it seems that Redis Sentinel is supported out of the box (with the current, not yet stabilized Sentinel API of `aioredis`). The following worked for me:

[code]

This works because `master_for` returns a `ManagedPool` wrapped in an `aioredis.commands.Redis` so the interface remains the same.

I'll make a few more test and hopefully add a demo for Redis Sentinel in a

[2017-11-21 16:14] asvetlov commented on #218
@popravich could you confirm that @panagiks assumption about sentinel support in aioredis/aiohttp-session is correct?

[2017-11-21 16:26] popravich commented on #218
Yes, it is that easy.
The Sentinel client is usable, however it is not well-tested or documented,
so some changes to the API might happen when more tests/docs/features are added to Sentinel client.

[2017-11-23 13:57] achernetsky opened #236 "Add the ability set `identity` of session if it is `new`"
Hello,

What do you think about it?

I need set `identity`, which used how `key` in redis,  of session with custom key. And then I need remove session by that `identity` from redis by message from amqp with this `identity`.

Now `identity` [readonly property](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L45).

Example code
[code]

Thanks.

[2017-11-23 21:04] asvetlov commented on #236
The request is controversial.
`session.identity` should be kept readonly but we could `session.set_new_identity()` method.
The method will generate an exception is `not session.new`.

If you need the functionality -- please make a pull request :)
Tests and documentation are required.

[2017-11-24 08:27] achernetsky commented on #236
@asvetlov, please, review pull request. Thanks.

[2017-11-24 10:16] #236 closed

[2017-12-01 02:12] xiaowenjie21 opened #239 "Cannot decrypt cookie value, create a new fresh session"
Repeat the refresh page, with such errors, sometimes without
[code]
`

[2017-12-01 09:50] asvetlov commented on #239
If you regenerate a fernet password every time -- it's ok to have cookie load failure with non-matching secret key.

[2017-12-01 13:33] xiaowenjie21 commented on #239
I see. The problem is solved

[2017-12-01 13:33] #239 closed

[2017-12-01 15:18] dobrovolsky opened #240 "redis storage error"
Hi, i have some error when add value to session.
[code]

[2017-12-01 15:26] panagiks commented on #240
Hello. Could you please provide the output of `pip list`? From a quick look at the traceback it seems like you are running an older version of `aiohttp-session` (since the `yield from` syntax has been dropped in latest versions).

[2017-12-01 15:32] dobrovolsky commented on #240
Thank you for quick replay
[code]

[2017-12-01 15:35] #240 closed

[2017-12-01 15:37] panagiks commented on #240
Ah, as I suspected. `aiohttp-session` is in a relatively old version (current version being `2.1.0`) and your `aioredis` is in version `1.0.0` which is supported in `aiohttp-session` after `2.0.0`.

I'd suggest either updating `aiohttp-session` (`pip install -U aiohttp-session`) or installing a version of `aioredis<1.0.0`. I think the first would be the safest bet.

[2017-12-02 10:08] jettify commented on #240
@panagiks thank you for helping to resolve this issue!

[2017-12-07 01:47] cmcqueen opened #242 "Makefile depends on Python 2 with setuptools"
I'm trying to build aiohttp and aiohttp-session under Yocto. It tries to run `make clean` as part of the build process. `make clean` runs `python setup.py clean`. But that runs Python 2, and that fails because the build system doesn't have Python 2 with `setuptools` installed.

Since aiohttp is Python 3 only, would it make more sense for the `Makefile` to run `python3 make clean` instead, to avoid

[2017-12-07 07:38] asvetlov commented on #242
Please use virtual environment.
Inside properly installed virtualenv/venv `python` is an alias for `python3`

[2017-12-10 23:41] cmcqueen commented on #242
Yocto is a project for creating custom Linux builds, used especially for embedded Linux systems. Python virtualenv is a great workflow for many situations, but isn't really suited for Yocto builds.

But, your answer seems to be the right one in principle anyway, which is the Yocto build system needs to set up an environment in which `python` refers to `python3`.

[2017-12-11 07:29] asvetlov commented on #242
The issue appears only on `aiohttp-session` *development*, where you should use virtual environment.
The virtual env is not required for *using* `aiohttp-session`, `pip install aiohttp-session` could be used on system Python too (but virtual envs are very encouraged).

[2017-12-12 03:18] cmcqueen commented on #242
Thanks. For Yocto builds, I've set `CLEANBROKEN = "1"` in the `python3-aiohttp-session` bitbake recipe. I think that should be okay.

[2017-12-12 04:05] #242 closed

[2018-01-09 18:23] #218 closed

[2018-02-06 21:20] BFriedrichs commented on #30
I just came across this relatively old issue. Unless I'm missing something, is there a reason why @TechBK's change was never merged? If there is a reason I suggest closing this issue otherwise I'd get a PR ready soon. (Especially since his fork looks like he basically completed it)

[2018-02-06 21:30] asvetlov commented on #30
Sorry, but I cannot find any related PR.

[2018-02-06 21:35] panagiks commented on #30
I think @BFriedrichs refers to #31 .

[2018-02-06 21:54] asvetlov commented on #30
Looks like @TechBK  gave up after first review tour.
His PR need more love for polishing before merge.

[2018-02-06 21:54] BFriedrichs commented on #30
Correct, I missed that for some reason. I haven’t really looked into how much changed since then but I can’t imagine these changes wouldn’t be still applicable.

[2018-02-06 22:08] asvetlov commented on #30
I suggest creating a new PR from scratch and discussing it.

[2018-02-27 11:45] achernetsky opened #258 "Remove session key from redis by session.invalidate"
Hello,

**Actual behaviour**

Key from redis does not deleted after session is invalidate.

**Expected behaviour**

Key from redis deleted after session is invalidate.

What do you think about it?

[code]

Thanks.

[2018-02-27 12:10] panagiks commented on #258
Hi,

Are you describing the fact that after `session.invalidate()` the key still exists in Redis, but with an empty value?

If so this seems to be the approach in every storage (and not Redis specific), at least from a quick look.

I don't know if this was intentional (by design), but personally I utilize this difference (existent keys with empty values vs non existent keys) to differentiate betwe

[2018-02-27 12:18] achernetsky commented on #258
@panagiks,

Thanks for your response.

Yes, I saw this fact. After call `session.invalidate()` in redis exist `{}` value by session key.

[code]

An interesting approach!

But it is bug or future?)

[2018-02-27 12:51] asvetlov commented on #258
The behavior is not redis specific. `session.invalidate()` doesn't delete the session but makes it empty.

Let's consider it as a feature.

[2018-02-27 15:57] achernetsky commented on #258
OK. I understood. But I think method which removes (deletes key from redis, memcached or something else) session (when it is not needed) can be useful.

[2018-02-27 15:57] #258 closed

[2018-04-25 10:07] lysyloren opened #268 "Postgresql storage"
Added PR #267

[2018-04-30 08:22] panagiks opened #272 "Session Fixation vulnerability in RedisStorage"
There is a window of opportunity for [Session Fixation](https://www.owasp.org/index.php/Session_fixation) exploitation in the logic of RedisStorage.

As seen here: https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/__init__.py#L190

Get session data returns an empty dictionary for an empty (this includes invalidated) session.

Referring here: https://github.com/aio-libs/aiohtt

[2018-04-30 09:05] panagiks commented on #272
Preparing some PoC code to demonstrate the above.

[2018-04-30 09:34] panagiks commented on #272
Ok so based off of the RedisStorage example,  the server looks like this:

[code]

Accordingly, the client:

[code]

Running the two results in the following output (client side):

[code]

As you can see the victim was assigned the session ID that the attacker injected as a cookie, effectively having access to the victim's session (through the original cookie)

[2018-05-03 21:45] alexpantyukhin opened #277 "Other implementations for AbstractStorage."
Would it be good to make other storages? For example `Mongo` and `CouchDB`. If yes, I would like to implement these. But need to be sure that it could be interesting.

[2018-05-04 09:38] #272 closed

[2018-05-04 11:18] asvetlov commented on #277
I think you can make a third-party plugin for such storages without touching `aiohttp-session` itself.
After some period we can consider incorporation this plugin into upstream.

There are too many possible storages for a session, support every new one is a maintenance burden.

[2018-05-07 05:40] asvetlov commented on #277
Feel free to update README/ docs to mention your plugin libraries.
It would be nice to have the whole list of plugins in the same place.

[2018-05-08 07:32] panagiks opened #281 "[Feature] Requesting new session explicitly"
## General

I think `aiohttp-session` should provide a way to explicitly request a new session, ignoring the existence of a cookie.

## Implementation

My initial thought is to pass an optional kwarg `new=True` to `get_session`, which in turn will pass it to the storage's `load_session` function to force it to return a new Session ignoring the presence of any cookie.

## Background

This is anothe

[2018-05-08 07:36] asvetlov commented on #281
I like the idea but suggest `aiohttp_session.new_session()` API instead of `new` parameter.
It feels more explicit.

[2018-05-08 07:44] panagiks commented on #281
`aiohttp_session.new_session()` it is then :)

[2018-05-12 08:16] #281 closed

[2018-05-14 13:15] gyermolenko opened #284 "readthedocs are outdated"
[readthedocs](http://aiohttp-session.readthedocs.io/en/latest/) are outdated.
`index.rst` doc is at least from before 21-11-2017

[2018-05-17 17:56] asvetlov commented on #277
I think the issue could be closed.

[2018-05-17 17:56] #277 closed

[2018-05-17 17:57] asvetlov commented on #268
Thank you for PR but better to keep Postgres storage in a separate library.

[2018-05-17 17:57] #268 closed

[2018-06-03 08:20] webknjaz opened #289 "Update all `secret: ` values in `.travis.yml`"
Do like this:
[code]

Ref: https://github.com/orgs/aio-libs/teams/admins/discussions/9

[2018-06-04 16:16] HolynnChen opened #291 "Can't keep the session."
when you use the
[code]
it will raise
[code]
What happend?

[2018-06-04 18:43] panagiks commented on #291
Hi @HolynnChen ,

A wild guess is that you are using a randomly generated (i.e. copy-paste from the example). This means that every time you re-start your application, a new key will be generated, which of course cannot decrypt the cookie data that was encrypted by the previous key.

To be more clear this line:

[code]

Is to demonstrate how you should generate keys. If this line exists in your co

[2018-06-05 10:10] HolynnChen commented on #291
@panagiks Thanks a lot:) yeah this error due to the random fernet_key, i change my code and fix it.

[2018-06-05 10:10] #291 closed

[2018-06-05 10:41] panagiks commented on #291
Glad to be of assistance :)

[2018-06-07 06:36] cpwr opened #292 "Can't retrieve value from session"
Hi,

Please, help to understand what I am doing wrong:

[code]
than I'm trying to set value to the session in my first endpoint that redirects me to another domain (to make authorization in third-party service). Consider this:
[code]

And then, returning to my app after successful auth process I want to get the `origin` from a session:

[code]
Now I'm getting a traceback:

[code]

[2018-06-07 06:47] panagiks commented on #292
Hi @cpwr ,

I suspect the issue could be on the `# some code that makes redirect`; could you please include that part of the code (removing the actual service you query of course) ?

Additionally could you verify that a cookie is actually returned when querying the endpoint hat leads to `authorize` (either by inspecting your browser's cookie storage after the request, or with an API tester)?

The

[2018-06-07 07:08] cpwr commented on #292
@panagiks , thank you for your response.
The redirecting code looks like this:
[code]
this URL is passed then to frontend that makes redirect with `window.location.href = response.data["authorization_url"]`. May this be a problem?

When getting a response, I can see a

`Set-Cookie: AIOHTTP_SESSION="gAAAAABbGNZClwtCRAoANTgwcx2ADDPKBon5NcLp_l40oJ1h1o4Vf2nYfGkuos6JxOB72-D4dVMYpr4nebYmQqSDQS_0OO24N8g5

[2018-06-10 06:15] panagiks commented on #292
Hey! Sorry for the delay,

* (Encrypted)CookieStorage should measure up just fine against Redis so I don't think that changes the logic all that much
* The cookie seems to be successfully set (not sure about its contents though)
* You won't see a cookie named 'origin'; the only cookie that will be set is `AIOHTTP_SESSION` what you see on the right hand side of that `=` is an encrypted mapping (dic

[2018-06-11 17:53] alex-eri opened #294 "Decoding data is non nesessary and breakes binary coders"
What reason for this line here?
https://github.com/aio-libs/aiohttp-session/blob/606cacafc47383f99cff39aba31f20bb5db3b879/aiohttp_session/redis_storage.py#L53

I want to store some bytes in session. Changed encoder  `    setup_session(app, RedisStorage(redis_pool, encoder=pickle.dumps, decoder=pickle.loads))`. And I have error on getting session:
[code]
It also breakes `msgpack`

[2018-06-11 20:12] alex-eri commented on #294
Its clear - python3.5 needs str, not bytes.

[2018-06-15 06:47] cpwr commented on #292
Ok, I've tried to use Redis as a storage and I've got the same result:

[code]
Here are my endpoints:
[code]
and another one, where I am trying to use the saved value:
[code]
And now the error is:

[code]
Obviously, I am doing something wrong but I can't get, what exactly. Please, help

[2018-06-17 19:13] Redict commented on #292
You gotta do:
[code]
That because of Storage initialization and Python one-line magic

[2018-06-17 21:33] cpwr commented on #292
@Redict but the session var is created in a browser, are you sure?

[2018-06-18 07:12] panagiks commented on #292
Hi @cpwr sorry for the delay. Could you make anI addition to your code (for debugging purposes)?

More specifically:

in `redirect` view function, after using get_session log the session.new attribute.

I'm suspecting that for some reason the cookie is not retained in your frontend.

If `session.new` is `True` but a cookie is set when you try with an API tester it means that something doesn't pers

[2018-06-18 08:36] panagiks commented on #292
@Redict 's concern shouldn't affect the behavior for two reasons:

* As you can see in [aiohttp AppRunner](https://github.com/aio-libs/aiohttp/blob/8a0b25908a24d7d6e2dd50b319d72cae85847165/aiohttp/web_runner.py#L275) middlewares are frozen *after* the on_startup signal
* If your code tried to append (what `setup` does) to a FrozenList (i.e. middlewares that have been frozen) you would get an Excep

[2018-06-18 10:16] cpwr commented on #292
Hi @panagiks
It took too long to debug and I've solved my problem just by using Redis. Sadly, I don't have enough time to revert it back and test what you're suggesting. So if that's all, we can close this issue and forget about it

Thanks

[2018-06-18 13:33] #292 closed

[2018-06-18 13:36] asvetlov commented on #294
encoder and decoder are object <-> str converters by design.
There is a possibility to extend the contract but it requires abstract serializers, not just dropping `.decode()` call.

[2018-06-18 18:04] NotSqrt commented on #294
I hit this bug when plugging the `RedisStorage` in my project, but my current pool uses: `pool = await aioredis.create_redis_pool(redis_url, encoding='utf-8')`.
The `encoding` parameter already apply `.decode('utf-8')`, no need to call `.decode('utf-8')` again on a `str`.

[2018-06-18 18:07] asvetlov commented on #294
@NotSqrt it's your configuration problem, not the library bug.

[2018-06-19 06:47] NotSqrt commented on #294
So regroup decoding and unserializing ? `decoder=lambda data: json.loads(data.decode('utf-8'))`, so that everyone can customize the decoder/encoder ?

[2018-06-19 07:29] alex-eri commented on #294
@asvetlov redis eats bytes. Why we cant use bytes?
Python 3.6+ designed to use bytes too.

There is opton designed customizable, but that we cant customize it.

Simple `if` does not breaks anything. Maybe param to init to provide decoder? Maybe split it into method?

[2018-06-19 14:11] alex-eri commented on #294
@asvetlov

Here encoder designed as `object -> byte`:

https://github.com/aio-libs/aiohttp-session/blob/fa103356f6542d75160e546d9e4eb8fb90971c3c/aiohttp_session/cookie_storage.py#L53

All `*.dumps` and `*.loads` i know supports loading bytes except python3.5`s json

[2018-07-02 10:57] anyUesr commented on #294
I also meet this, please fix it quickly

thanks so much : )

[2018-07-02 11:02] anyUesr commented on #294
Error like this:
[code]
after I change it to

[code]

it run OK

[2018-07-02 11:15] anyUesr commented on #294
@asvetlov I agree @NotSqrt, maybe except decode error when data.decode('utf-8') is better

[2018-07-04 16:51] alex-eri commented on #294
I removed this line in local fork.)

[2018-07-20 09:13] AYeropudov opened #305 "Could not find a version that satisfies the requirement aiohttp>=3.0.1"
need to be updated requirements
from the cloned repo installation will ok

[2018-07-20 09:33] gyermolenko commented on #305
yeah, `setup.py` has `python_requires=">=3.5",` and `aiohttp>=3.0.1` is for `>=3.5.3`

[2018-07-20 09:34] panagiks commented on #305
Hi @AYeropudov ,

Could you please add the output of the pip install command that presented you with this error.

Thank you.

[2018-08-18 00:11] enugentdt opened #310 "Useful to switch JSON libraries?"
Hello, developers

I had a sort of discussion question. For storing sessions in Redis, for example, rather than locally or in cookies, one of the main reasons would be speed, along with the ability for multiple servers to share a user's session. I know I am personally interested in the speed of it.

Would there be any validity of changing the internal JSON library to be something faster, such as [

[2018-08-18 08:11] asvetlov commented on #310
Did you compare it?
Not `json` vs `ujson` but full stack: aiohttp+aiohttp_session+json/usjon?

[2018-08-23 08:14] remort commented on #294
Didn't read the tread.
If you set `encoding`, i.e `utf-8` when create redis_pool, then aiohttp_session using RedisStorage cant't work with that storage due to attempting to decode bytes from redis to str. But redis already decode its data to str since you set the decoder to `utf-8`. So aiohttp_session should somehow check type of data coming from redis if its str or bytes.
Now I can'` use `encodin

[2018-08-28 11:13] #305 closed

[2018-09-10 14:35] tardyp opened #316 "Error 500 when switching from EncryptedCookieStorage to NaClCookieStorage"
[code]

Same issue when changing the secret.

probably we need to port this patch to NaClCookieStorage:
https://github.com/aio-libs/aiohttp-session/commit/0741f5a5380094ff6a970194870b2c41451747cf

Not sure what is the benefit of NaClCookieStorage over  EncryptedCookieStorage.

[2018-09-10 14:53] asvetlov commented on #316
To process non-decodable data as a new session?

Makes sense to me.
Would you make a pull request?
BTW raising a warning if the data cannot be processed would be fine

[2018-09-10 16:34] tardyp commented on #316
@asvetlov PR sent. I sniped in a doc fix as well

[2018-09-12 12:29] #316 closed

[2018-09-12 12:35] asvetlov commented on #289
Done by 370c772

[2018-09-12 12:35] #289 closed

[2018-09-21 02:51] Trim21 opened #319 "simple await new_session(request) can't store a new session"
expected beheavior:
all session key should be deleted after
[code]
infact: the session keep what it is, only i set a value manually like `session['login'] = False` the server will send `set-cookies` header

python3.7 aiohttp3.4.4 aiohttp-session2.6.0

[2018-09-21 02:53] Trim21 commented on #319
I read the source code and i fount

[code]

it seems that it is indeed beheavior, but i think it's pretty confusing

[2018-09-21 05:31] panagiks commented on #319
Hello @Trim21,

a few notes here.

1) On logout you should not return a new session but invalidate the one presented to you.
2) `new_session` is to be used on `login` view as clearly stated in [documentation](https://aiohttp-session.readthedocs.io/en/latest/reference.html#aiohttp_session.new_session)
3) As you note from the source code it is the expected behavior to only store changed session, oth

[2018-09-21 09:43] Trim21 commented on #319
thank you, I'll close the issue.

[2018-09-21 09:43] #319 closed

[2018-10-08 19:29] panagiks opened #325 "Improper Session Expiration in storages with no inherent expiration"
Storages that lack inherent data expiration

* EncryptedCookieStorage
* SimpleCookieStorage (out of scope, it's inherently insecure)
* NaClCookieStorage

appear to do improper Session Expiration.

A user that has obtained a legitimate session, can do a replay attack recreating his / her cookie
(with the same value as the original) thus defeating the purpose of cookie expiry.

This impacts security

[2018-10-10 07:09] asvetlov commented on #325
Thanks for the patch.
For NaCL the solution could be in using `Session.created` attribute when reading from a persistent storage (cookie, redis, whatever).

[2018-10-10 07:10] asvetlov opened #327 "Travis CI doesn't see the repo commits/PRs"
Looks like the integration is broken.

@webknjaz I very appreciate if you find a time for this issue.

[2018-10-10 08:06] panagiks commented on #325
You're welcome :)
I will look into a patch for NaCl based on your suggestion (I hope to have it ready in the weekend).

[2018-10-10 08:19] asvetlov commented on #325
Cool!

[2018-10-10 09:22] webknjaz commented on #327
Any details in particular?

Normally this happens when some job was in queue and someone force pushes the branch, which renders the commits inaccessible, and then when the job finally gets executed there's nothing to fetch from GitHub and it fails.

[2018-10-10 09:35] asvetlov commented on #327
#323 and #324 are dangling PRs.
I've merged #326 -- didn't see Travis builds neither on PR not on marge-to-master commit

[2018-10-10 13:04] webknjaz commented on #327
Oh, I see. https://travis-ci.com/aio-libs/aiohttp-session/requests:

[2018-10-10 13:08] asvetlov commented on #327
My fault. I'll fix this

[2018-10-10 13:09] asvetlov commented on #327
c0ab6ce

[2018-10-10 13:11] asvetlov commented on #327
Fixed

[2018-10-10 13:11] #327 closed

[2018-10-10 13:36] webknjaz opened #329 "[TODO] Fix `async with` blocks for Python 3.7+ compat"

[2018-10-10 13:44] panagiks commented on #329
Hi @webknjaz .

Do you mean replacing `with await` blocks [like this](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/redis_storage.py#L47) with `async with` ?

If so you can assign this to me and I'll give it a go in the weekend (or earlier) :)

[2018-10-10 13:48] asvetlov commented on #329
No so easy.
Looks like aioredis should be fixed first.

[2018-10-10 13:51] asvetlov commented on #329
https://github.com/aio-libs/aioredis/issues/425

[2018-10-12 13:00] #325 closed

[2018-10-14 00:35] sapph1re opened #332 "RedisStorage updates max_age on every session_save"
Every time a request arrives and a response is sent, `save_session()` is called. And every time it updates session's `max_age` both by:
 - Sending a `Set-Cookie` with the same session ID, but with a new `max_age` and `expires`.
 - Updating the max age of the session in Redis, i.e. `ttl` of the session is reset.

So effectively the session never expires unless idle. I would expect `max_age` to impl

[2018-10-14 05:29] panagiks commented on #332
Hello @sapph1re and thank you for the report.

You are correct about ttl in Redis and it seems to relate with [how Redis' SET command works](https://redis.io/commands/set):

The solution I see for this is delta-ing `max_age` with `session.created` to calculate `expire` [here](https://github.com/aio-libs/aiohttp-session/blob/master/aiohttp_session/redis_storage.py#L78) before saving to Redis (cc @a

[2018-10-14 13:46] asvetlov commented on #332
Please correct me if I'm wrong but now the library uses TTL for controlling inactive session expiration. We have the consistent behavior for all supported storages, not only limiting to Redis.

This is a valuable behavior. For example, very many sites want to drop logged user after some (a relative short) inactivity period.

@sapph1re asks for another thing: a total expiration time. I can imagine

[2018-10-14 13:51] asvetlov commented on #332
Hmm, I've realized that last changes from @panagiks violate the expiration logic.
We need consistency between storage implementations first.

[2018-10-14 17:35] panagiks commented on #332
To be honest I was under the false impression that the expected behavior for expiry is a ttl from the initial creation time. If this is not the case, both of my last changes (adding ttl to `EncryptedCookieStorage` fernet and invalidating sessions with `now - created > max_age`) as well as my suggestion above contradict with the expected behavior you are describing.

My suggestion would be to open

[2018-10-15 00:33] sapph1re commented on #332
Oh, I didn't realize the library is designed to use max_age as an idle timeout.
I'm following the owasp's guide on security, which recommends to implement both idle and absolute timeouts, as well as a renewal timeout.
I will use the library differently then, thanks. Will implement absolute timeout and renewal timeout in the app, and rely on the library about the idle timeout.
Thank you, guys.

[2018-10-15 10:24] congnghiakhiem opened #333 "Python 3.7 EncryptedCookieStorage Error: Incorrect padding"
Traceback (most recent call last):
  File "app.py", line 60, in <module>
    serv_generator, handler, app = loop.run_until_complete(init(loop))
  File "C:\Python37\lib\asyncio\base_events.py", line 568, in run_until_complete
    return future.result()
  File "app.py", line 34, in init
    session_middleware(EncryptedCookieStorage(SECRET_KEY)),
  File "C:\Python37\lib\site-packages\aiohttp_session\

[2018-10-15 10:31] #333 closed

[2018-10-15 10:38] panagiks commented on #333
Hello @congnghiakhiem ,

this seems to be an issue with the `SECRET_KEY`. Could you please verify that your `SECRET_KEY` conforms with Fernet expectation (i.e. consists of 32 base64-encoded bytes) ? An easy way would be to put these two lines before `session_middleware(EncryptedCookieStorage(SECRET_KEY))`:

[code]

The result should be:

[code]

Regards.

[2018-10-15 10:47] congnghiakhiem commented on #333
Thank you. I found the way.

To generate SECRET_KEY
[code]

[2018-12-21 08:28] hubo1016 opened #344 "Session keeps been resetting after max_age exceeded"
https://github.com/aio-libs/aiohttp-session/blob/b9a5f9cc82e8d1adb541d4dd9e64603b7b4360c0/aiohttp_session/__init__.py#L30

At least we must set `_updated = True` to let the storage save the new empty session, so it is equivalent to call `session.invalidate()`. The current implementation makes it a *magic session* which seems valid, can save new data, but magically clear them when loading. This is

[2018-12-21 08:56] panagiks commented on #344
Hello @hubo1016 and thank you for the report :)

From what I can tell from a first look you are correct. I think that this is due to other attributes (like created) not being reset however. The idea is that if an expired session is provided a completely new should be created. I will look into it further in the following days.

In the meantime however, in order to reach this case it means (as far a

[2018-12-21 09:16] hubo1016 commented on #344
@panagiks It is because the other part of the implementation uses `max_age` as an idle timeout. When the session is stored in redis, and the cookies is sent to the client, the expiration time is refreshed - but `created` is not. So if the session is touched before expiration, this piece of code will "clear" the session before expiration.

[2019-01-09 05:20] kreopt opened #348 "Possible incorrect max_age check on session initialization"
Looks like it's a typo in __init__.py:28.

`age = now - created if created else now `

should be

`age = now - (created if created else now)`

Else, session with `max_age` set but `created=None` is always cleaned up on initialization.

[2019-01-17 02:33] namewhat commented on #291
@HolynnChen
请问你是怎么解决的？fernet_key = fernet.Fernet.generate_key()替换成自己固定的secret_key?

[2019-01-17 07:18] panagiks commented on #348
Hello @kreopt ,

From where I see it a session with `created == None` is either an invalid one or an empty one since `created` is not user provided input but metadata inserted by `aiohttp-session`. see:

https://github.com/aio-libs/aiohttp-session/blob/b9a5f9cc82e8d1adb541d4dd9e64603b7b4360c0/aiohttp_session/__init__.py#L212

Looking at how session objects are created, it is either that a new sess

[2019-01-17 07:39] panagiks commented on #344
Hi @hubo1016

As also mentioned in #332 the `idle timeout` logic was broken with #331 by me (as I was not aware of it as an expected behavior).  This should be properly addressed (I try to find some time to make a well thought out PR to fix this and not something rushed).

To be clear however, under no circumstances should a `client` application `recreate` a cookie that has expired. This a non-RFC

[2019-01-17 07:41] asvetlov commented on #291
Please use English.

[2019-01-17 08:54] hubo1016 commented on #344
@panagiks It is **not** `receated`, it is a valid cookie and a valid session which never expires, because when the session data is modified, the expiration time of the cookie and the session is refreshed, but the `created` timestamp in Redis (or other storage) is not refreshed, so it is considered expired by your code.

This issue is **not** generated by a buggy client or some wired client-side sc

[2019-01-17 09:02] hubo1016 commented on #348
I think it is not the problem of whether it **works**, but whether it is **correct**.

[code]

means

[code]

`age` should definitely not a **interval** when `created == True` but a **timestamp** when `created == False`. Even if you want it to be expired, you should not write a code like this. What happens when `max_age` is very large like 100 years, even larger than current `now`? Currently the s

[2019-01-18 04:09] kreopt commented on #348
I create session with such code to pass some info from session manager to request handler (for example, identify session manager errors):

`session = Session(None, data={'session': {...}}, new=True, max_age=self.max_age)`

what's going on in constructor?
`
created = data.get('created', None) if data else None # become None
age = now - created if created else now # become now
if max_age is not None

[2019-01-18 10:48] alex-eri commented on #294
I think decode must be droped from here because it conflicts backend and codecs.

Its trivial to fix backward compatability using wrapper for json codek in default value.

[2019-01-25 01:52] namewhat commented on #291
Oh, sorry. I think that guy is a chinese, so reply with chinese. I fixed this issue too.

[2019-04-25 11:17] ezinall opened #364 "Autorization Basic"
Hey.
I propose to add middleware to the library.

middleware.py
[code]
Tnx.

[2019-04-25 14:14] asvetlov commented on #364
The question is out of `aiohttp_session` library scope

[2019-04-25 14:14] #364 closed

[2019-04-25 14:15] asvetlov commented on #310
Close after a long inactivity period

[2019-04-25 14:15] #310 closed

[2019-05-17 12:52] NewUserHa opened #368 "document bug in homepage that always return a download"
https://aiohttp-session.readthedocs.io/en/latest/
[code]
`return web.Response(body=b'OK')` will return a download file to my chrome.

considering fix?

[2019-05-17 13:38] panagiks commented on #368
Hello @NewUserHa and thank you for the report.

What is the expected behavior here ? Does `aiohttp-session` affect the current behavior, if for example you run the following code is the behavior the same?

[code]

If the above code exhibits the same behavior as your code then your question is better directed towards `aiohttp`. But I think the most important question is what you would expect the ab

[2019-05-17 13:56] NewUserHa commented on #368
this code is an example on the homepage so it might want to show the code work.
replace `return web.Response(body=b'OK')` with `return web.Response(body='OK')` will just show a text.
don't you think this is the proper example?

[2019-06-12 22:11] alex-eri opened #373 "Why session not saved with stream responses?"
https://github.com/aio-libs/aiohttp-session/blob/642b59a4943528b81ae8ee385854f811dcda7c85/aiohttp_session/__init__.py#L161

[2019-06-13 07:00] asvetlov commented on #373
Because there is no way to send HTTP headers again after the body transmission has been started.

[2019-06-14 11:52] #373 closed

[2019-06-21 04:35] panagiks commented on #368
I still don't see how the code 'doesn't work'. This is a session library, the whole point of the example is to showcase a cookie being set and the example works pretty well at that.

Having said that since this specific example is the only place (throughout `aiohttp-session` examples / docs) I can find a `bytes` object being provided to the `web.Response` object I will open a merge request to chan

[2019-06-21 05:55] NewUserHa commented on #368
maybe typo. what I wanted to say is it should be `return web.Response(body='OK')` instead a download(bytes).

[2019-06-24 14:03] pbsds opened #375 "EncryptedCookieStorage doesn't sign the cookies"
Encrypting the cookie is nice obfuscation, but encryption alone isn't enough to stop tampering of the cookie through brute force: Imagine knowing where in the session cookie a "is_admin" value would be. Flipping a "0" to a "1" could be done through brute force. Due to this issue, this module would likely fail a security audit.

To guarantee the cookie hasn't been tampered with by the user, the coo

[2019-06-24 17:24] panagiks commented on #375
Hello @pbsds and thank you for your contribution.

`EncryptedCookieStorage` utilizes `cryptography`'s `fernet` module which is an implementation of the [fernet specification](https://github.com/fernet/spec/blob/master/Spec.md). With a quick look into the specification docs (and more specifically in the [verifying](https://github.com/fernet/spec/blob/master/Spec.md#verifying) section) you can see t

[2019-06-24 20:49] pbsds commented on #375
Ah, great! I didn't look into the details of fernet, assuming it only did encryption. A quick mention of there being signing as well in the readme would be great.

[2019-07-02 10:27] #375 closed

[2019-09-04 03:23] nathanahtan opened #376 "Any interest in adding the 'samesite' flag to cookies?"
I was interested in enabling the samesite cookie flag and was surprised to find it doesn't seem to be supported (or I completely missed how to enable).  I guess it is not yet an 'official' RFC documented flag, so maybe that is the reason?

I seem to have been able to get it to work here (on Chrome/Firefox anyway) by adding the parameter to:

- aiohttp_session.AbstractStorage
- aiohttp.web_response

[2019-10-18 13:43] samuelcolvin commented on #376
I think this would be good @asvetlov, would you accept a PR to add `SameSite`?

[2019-10-18 14:02] asvetlov commented on #376
Monkey-patching is not an option.
Code should raise `TypeError: set_cookie() got an unexpected keyword argument 'samesite'` for Python < 3.8 if `samesite` is not None (default).

We need two pull requests: one for aiohttp and another for aiohttp-session.

I would postpone the fix until Azure and Travis will get Python 3.8 in their build matrices.

Upd:
Looks like Travis already has it: https://doc

[2019-10-18 14:05] samuelcolvin commented on #376
Discuss on https://github.com/aio-libs/aiohttp/pull/4224

[2019-10-21 16:39] jonathanslenders opened #396 "aiohttp 4.0.0a1 compatibility issue"
Hi there, first of all thanks for creating this library!

The newest aiohttp alpha has a change that expects redirects to be raised as exceptions.
[code]
This is not supported by the session middleware, because ``HTTPFound`` is not an instance of ``StreamResponse``. It seems also more complex then adding a simple ``isinstance()`` check in ``__init__.py``, because after doing this, the session is n

[2019-10-21 20:51] asvetlov commented on #396
Thanks for the report.
I'll try to find time for the fix soon but don't provide any estimation, sorry.

[2019-10-22 07:21] jonathanslenders commented on #396
Thank you!

[2019-10-25 10:47] asvetlov commented on #396
I'm wondering do you need context vars support or something also?
aiohttp 4.0 release is delayed, unfortunately.
4.0 is a chance to break backward compatibility; that's why I have a long list of awaiting changes.

Context vars support can be backported to 3.x line and released as a part of aiohttp 3.7. If it solves your needs I'll happy to backport. Seems like not only you need the feature.

[2019-10-25 12:37] jonathanslenders commented on #396
Hi @asvetlov,

Yes, we do need context vars support, that's why we're using the 4.0 alpha.
I haven't read the implementation, but was wondering whether we could backport it with a simple middleware (run the handler in the middleware in ``copy_context().run(...)``).

Anyway, I created my own session middleware, compatible with aiohttp 4.0 for now. This seems to work fine. In case anyone is interest

[2019-10-25 12:39] jonathanslenders commented on #396
@asvetlov,

So, one thing I missed in aiohttp 4.0, was a ``set_cookie`` method for ``HTTPMove`` like we have with ``StreamResponse``.

Thanks again for aiohttp, it's absolutely great.

[2019-10-25 20:08] asvetlov commented on #396
My pleasure!

`set_cookie` for `HTTPException` (and descendant `HTTPMove`) is a brilliant idea.
The current aiohttp-session design has a spike: it's middleware converts HTTPExcetion into `web.Response`, it may be a source of confusion.
`set_cookie` (plus `del_cookie`) can solve this problem, will be no need to convert exception into response anymore.

[2019-10-25 20:10] asvetlov commented on #396
https://github.com/aio-libs/aiohttp/pull/4271 prrovides backport of contextvar related changes back to 3.x line.

[2019-10-26 09:27] #368 closed

[2019-10-31 11:15] giovanni5 opened #402 "Difference from jwt"
The cookie provided by aiohttp-session is different from a json web token? Can i read the payload from client, for example vue js?
Thanks.

[2019-11-01 12:38] asvetlov commented on #402
Consider it as opaque structure available on server side only.
If you need JWT you probably have to derive from `AbstractStorage` and implement JWT-aware version.

Not sure if accessing cookies from JavaScript is a good idea, secure server should use HttpOnly flag for cookie to prevent XSS attack. Quick googling points on a good article: https://medium.com/@jcbaey/authentication-in-spa-reactjs-and

[2019-11-01 15:42] giovanni5 commented on #402
thank you, this article is interesting. So the client needs to call the server to checks if the user is authenticated or not.

[2019-11-01 16:29] asvetlov commented on #402
Strictly speaking the code should call server even for non-browser usage.
You can use asymmetric cryptography to check the JWT sign but still need to ask the server if the user was blocked or banned (JWT has only time-based expiration obviously).

[2019-11-03 16:04] #402 closed

[2019-11-04 21:10] asvetlov opened #403 "Add type hints"
The issue is relatively easy.

Does anybody want to be a champion?

[2019-11-05 08:16] panagiks commented on #403
I could take it (ETA this Sunday). Do you prefer inline or *.pyi stubs ?

[2019-11-05 09:46] asvetlov commented on #403
The inline is more robust.
Also would be nice to add annotations to tests (the test suite is not huge).
It is a little tedious but in the end you'll get a checker that library code is called with correct types; arguments types match declared annotations.
The mypy checker should be executed in strict mode (`mypy --strict aiohttp_session tests`) to enforce the best practices.

[2020-02-24 18:11] bitnom opened #438 "Connection <RedisConnection [db:0]> has pending commands, closing it."
This happens with this package when I run a stress test of `./wrk -t12 -c400 -d30s http://localhost`

Output doesn't show me line number. Must be in the module somewhere. Related threads:

https://github.com/aio-libs/aioredis/issues/122

https://github.com/django/channels_redis/issues/71

[2020-03-04 07:03] TensorTom commented on #25
I did not know about the flash example and I implemented my own thing. I didn't use middleware though. I did this:
[code]
Is the middleware just so that we can access via request? Would be great to have the flash example commented.

[2020-03-04 07:05] TensorTom opened #439 "Garbage Collection"
I am using the Redis implement. Do we have any garbage collection? Is there a method that can clear a user's session so it is cleared from Redis, freeing resources? How should that be handled? Or just set pointers to null?

[2020-03-08 12:24] panagiks commented on #439
Hello @TensorTom ,

From a first look in the `Session` API there is an `invalidate` method that empties the session data ([ref](https://github.com/aio-libs/aiohttp-session/blob/136da7df3a47e9cb88934a45a020842cb005839d/aiohttp_session/__init__.py#L72-L74)). But the `RedisStorage`'s `save_session` method just persists the changed session data (so `{}` as string) to Redis and doesn't handle deletion

[2020-04-13 12:17] Dreamsorcerer opened #447 "b64_encode needed in README?"
The README takes the output of `Fernet.generate_key()` and then passes it through `urlsafe_b64decode()`. But, the cryptography documentation says "A URL-safe base64-encoded 32-byte key." is needed for `Fernet`, and then passes the result from `generate_key()` without encoding it again.
https://cryptography.io/en/latest/fernet/#cryptography.fernet.Fernet

So, surely the result of `generate_key()` i

[2020-04-13 12:30] Dreamsorcerer commented on #447
In fact, the output is in bytes, and then the constructor for `EncryptedCookieStorage` calls `urlsafe_b64encode()` again! So, in the end, you have an 80 character secret key, which is almost twice the length needed.

So, it seems to me that the correct approach is to decode the bytes first, so it's not b64decoded later. Perhaps an even better approach would be to allow a Fernet to be passed in dir

[2020-04-13 13:01] Dreamsorcerer commented on #447
OK, I've just realised that I missed the encode/decode differences.

Still, the code creates a valid b64encoded bytes object.
Then decodes it.
Then encodes it.
Then Fernet decodes it.

That doesn't make sense to me.
Doing `generate_key().decode()` to convert to a string is enough to avoid the repetitive b64 encoding.

[2020-07-14 17:18] #376 closed

[2020-07-26 14:24] endlessmeal commented on #258
So, how did you delete the key entirely?

[2020-07-30 04:58] vladpen opened #480 "Broken session if any json encoded string is placed in cookies?"
Can be reproduced with basic usage example from this page:
https://github.com/aio-libs/aiohttp-session
if there is in the cookies any string like this:
{"a": 1}

Is it normal?

[2020-09-24 05:53] dependabot-preview[bot] opened #495 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/aio-libs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/aio-libs/update-logs/48555257).

[2020-09-24 09:52] #495 closed

[2020-09-25 05:54] dependabot-preview[bot] opened #497 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/aio-libs) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/aio-libs/update-logs/48693510).

[2020-09-25 22:15] #497 closed

[2020-10-29 14:55] mistotebe commented on #396
As seen in https://github.com/aio-libs/aiohttp-session/issues/506 this is also broken with aiohttp 3.7.2

[2020-11-14 23:13] Dreamsorcerer commented on #396
I think the isinstance() changes in #512 and the more recent addition of cookies on HTTPExceptions should fix this issue.

[2020-11-29 08:02] jayvdb opened #518 "Test support for local memcached and redis servers"
aioredis, aiomcache and aiocache test rigs all support pytest arguments for specifying to use a local server for memcached/redis.  This is helpful for testing on isolated distro builds, where docker is not able to pull images, but the distro packages for those services is easily installable.

[2020-11-29 09:49] asvetlov commented on #518
Please feel free to make a Pull Request.
This mode should be optional, the dockerized server is handy when Docker is available.

[2020-12-19 14:33] Dreamsorcerer opened #528 "Update aioredis"
Tests are currently failing on latest aioredis. This will require updating conftest.py to remove the `loop` parameter.

[2020-12-19 14:34] Dreamsorcerer opened #529 "Fix tests for Python 3.8+"
Tests are currently failing on Python 3.8+. These need to be fixed.

Blocked by #528.

[2021-01-06 11:07] Sult opened #536 "aiohttp 3.7 samesite flag voor cookies cant be set"
since aiohttp 3.7, there is now an option to use samesite flag (which defaults to None) for cookies.
However aiohttp-session has no way to pass this

[2021-01-06 16:59] Dreamsorcerer commented on #536
Already fixed: https://github.com/aio-libs/aiohttp-session/pull/449

Once @asvetlov unblocks me on https://github.com/aio-libs/aiohttp-session/pull/527 I'll get it merged.

[2021-02-05 11:35] hjacobs commented on #396
FYI: By using `return` instead of `raise` I could workaround this issue (aiohttp 3.7.3 and aiohttp-session 2.9.0): https://codeberg.org/hjacobs/kube-web-view/commit/507d9d632a6c837fd393d6c9e3ddeb5f9d7529ca

[2021-02-05 17:15] Dreamsorcerer commented on #396
Right, though that behaviour is deprecated, so you should remember to switch it back once 3.8 is released.

[2021-02-18 09:19] ojii opened #548 "sessions not saved with HTTPExceptions"
I'm not sure if this is an issue with how I use aiohttp/aiohttp-session, aiohttp-session itself or aiohttp, so let me know if I should report it somewhere else.

I'm trying to set a new session using EncryptedCookieStorage and then redirect the user to a different page using `aiohttp.web.HTTPFound("/url/")`. However, in that case, the new session is lots. If I instead manually create the redirect

[2021-02-18 09:59] Dreamsorcerer commented on #548
Known issue with aiohttp 3.7. You can downgrade to 3.6, and it's already fixed in the upcoming 3.8.
Or, as a temporary workaround you can `return` the exception rather than `raise` it.

[2021-03-17 18:47] RichardBruskiewich opened #554 "aiohttp-session docs Source Code bug tracker link is pointing to the wrong repository"
The [aiohttp-sesson docs Source Code bug tracker link](https://aiohttp-session.readthedocs.io/en/stable/#source-code) is pointing to the wrong repository. It's pointing to **[aiopg issues](https://github.com/aio-libs/aiopg/issues)** rather than **[aiohttp-session issues](https://github.com/aio-libs/aiohttp-session/issues)**

[2021-03-18 00:23] #554 closed

[2021-03-20 17:50] Dreamsorcerer commented on #536
This needs aiohttp 3.7+, but due to a bug in 3.7 that causes problems with aiohttp-session, I'll have to push this back till the 3.8 release is out.

[2021-03-24 07:19] businka opened #566 "aiohttp_session not save_session for manualy created new_session"
as part of request processing will be signout.
I closed the previous session. and I want to issue a new guest session. there is no example in the manual of how to do this. I'm doing just aiohttp_session.new_session (request).
with this approach, aiohttp_session>__init__.py>factory does not call save_session (session._changed == False)

[2021-03-24 18:34] Dreamsorcerer commented on #566
For login/authentication people generally use aiohttp-security:
https://aiohttp-security.readthedocs.io/en/latest/usage.html#public-api

If you want to roll your own logic, have a look at how the `forget()` function is implemented there.

[2021-03-24 18:34] #566 closed

[2021-03-28 23:18] #403 closed

[2021-04-19 12:54] TheRobotCarlson opened #574 "session fails silently with large inputs"
I'm not sure why this fails, but as you can see, when the input is made somewhat large, `aiohttp-session` seems to fail silently without raising errors or warnings.

Expected behavior: Raise error when input size is larger than allowed size.

A small example:
[code]

[2021-04-19 15:36] panagiks commented on #574
@TheRobotCarlson what is the 'failing' behavior in your case (does the request silently crash, is the cookie 'lost', or ...)?

I tried to reproduce this but for me it worked pretty well, my guess is that this is somehow a limit on the user-agent used (testing with Insomnia the above server returned a response, with a cookie and sending this cookie back in a followup request resulted in a response

[2021-04-19 15:50] TheRobotCarlson commented on #574
@panagiks 'failing' behavior for me is silently failing. When I run the above in Chrome Version 89.0.4389.128, I get no errors or warnings raised in the backend and instead have a silent failure that results in the cookie not being updated with any of the other inputs. An error or warning that the cookie "might be too large" is what I would expect.

Easy to accidentally add too much to a payload a

[2021-04-19 16:11] panagiks commented on #574
The backend (at least the `aiohttp-session` part of it) technically updates the cookie and sends it over to your user (if you observe the request on the developer console of Chrome or try it with an API tester the cookie should be transmitted), the browser is the one that chooses to ignore it.

Having said that I also see no issue with adding a warning log if someone tries to save a cookie larger

[2021-04-19 20:25] Dreamsorcerer commented on #574
Indeed, a warning if it's going to exceed the RFC might be useful during development.

As you say, this is a problem more in aiohttp, so better to open an issue there to discuss it.

Specifically, the warning would probably go in somewhere around:
https://github.com/aio-libs/aiohttp/blob/1a4126a2c0e52b331aa953288e844bac680290fc/aiohttp/helpers.py#L852

Could also include a check on the total numbe

[2021-04-19 20:29] Dreamsorcerer commented on #574
It's not entirely clear exactly what we should be counting for that limit though. Name + value is easy, but what about attributes? Does that mean the name + value of each attribute, or just the value, or name + value + separator, or what?

[2021-04-24 18:12] havardgulldahl commented on #548
For anyone else coming here from a web search: This also happens with `HttpSeeOther` (and other redirects, perhaps?), but replacing `raise` with `return` fixed this at once. Thanks, @Dreamsorcerer!

[2021-05-04 09:42] carleshf opened #580 "Can't retrieve value from session after raise HTTPFound"
So, I am implementing open-id login and I assign the state to the session so I can redirect to the web portal for user authentication. This will redirect to the function and get the access token. I do it as:

    async def do_login(request, next_url):
        request_session = await get_session(request)
        code = request.query.get('code')
        LOG.debug('code: %s', code)
        if code is

[2021-05-04 18:44] Dreamsorcerer commented on #580
Did you also try downgrading to aiohttp 3.6? If it's the same issue, then that will solve the problem. If it's not solved, then it must be a different issue.

[2021-05-18 13:29] smoothjump commented on #580
I faced the same issue here, downgrading solved this issue, thanks.  I also wonder if there are any other workaround here.

[2021-05-18 21:36] Dreamsorcerer commented on #580
Using 'return' is the workaround... Just stick to aiohttp 3.6 until 3.8 is released (which fixes the issue).

[2021-07-31 22:17] phenobarbital opened #605 "Bump aioredis version to +2.x"
Hi!

there is a plan to work in a version with aioredis 2.0 support?, I made some local changes in the redis_storage (mostly removing the "create_pool" and alternately using the aioredis.ConnectionPool) and the library work without issues.

there is such a plan or I can send a PR with my changes?

[2021-08-01 10:34] Dreamsorcerer commented on #605
Duplicate of #528

Yes, PRs would be welcome.

[2021-08-01 10:34] #605 closed

[2021-08-07 11:41] #329 closed

[2021-08-21 14:59] Dreamsorcerer commented on #396
I think this issue is fixed now (pending releases).

[2021-08-21 14:59] #396 closed

[2021-08-21 15:13] Dreamsorcerer commented on #574
This is being tracked in https://github.com/aio-libs/aiohttp/issues/5634 and associated PR.

[2021-08-21 15:13] #574 closed

[2021-08-30 11:48] #528 closed

[2021-11-03 09:57] #439 closed

[2021-11-03 18:58] #536 closed

[2021-11-15 17:02] Benj1 opened #640 "session not saved with web.FileResponse"
I'm not sure if there's a reason to exclude it, but it seems that sessions aren't saved when response is an instance of `web.FileResponse`.
It gets excluded here when checking the type of the response: https://github.com/aio-libs/aiohttp-session/blob/015dfb1acc035cf554252689bd00b9c944b8eab1/aiohttp_session/__init__.py#L204-L206

[2021-11-15 17:38] Dreamsorcerer commented on #640
Have you tried removing the check and seeing if it works as expected?

[2021-11-19 09:50] Benj1 commented on #640
Yes, changing to `isinstance(response, (web.Response, web.HTTPException, web.FileResponse))` allows sessions to be set when returning static file responses

[2021-11-19 10:05] asvetlov commented on #640
When I designed aiohttp-session, I made it work with non-streaming responses only.
Theoretically, the library can register `on_response_prepare` signal to dynamically update the response cookie if needed.
It can allow the processing of all responses, doesn't matter they are streamed or not.
Sorry, I have no idea when I can find time to work on the issue, any contribution is welcome!

[2021-12-29 22:24] #529 closed

[2022-01-28 21:06] #447 closed

[2022-01-28 21:58] Dreamsorcerer commented on #518
Think we're using a local one now, and the docker one is broken.

[2022-01-28 21:58] #518 closed

[2022-01-28 21:58] #548 closed

[2022-01-28 21:59] #580 closed

[2022-01-29 13:54] Dreamsorcerer commented on #294
If someone can create a test that reproduces this Redis issue in a PR, then I'm sure we can figure out a fix.

[2022-01-29 15:12] Dreamsorcerer commented on #332
I think we can close this as expected behaviour then. If you consider the most common cases for websites, it's not expected for the user to suddenly be logged out while actively using the website.

We can look at the possibility of an absolute timeout in a PR, but I'm not sure it's a high priority.

[2022-01-29 15:12] #332 closed

[2022-01-29 17:19] #344 closed

[2022-01-29 18:47] Dreamsorcerer commented on #348
I think this is the safer thing to do. If there is a max_age and no created date, then it is safer to assume that the session has expired, rather than risk using an expired session. Basically, I think the expectation is that "created" should always be present if `max_age` is set (we could probably even add that to the annotations with `@overload`s).

[2022-01-29 18:47] #348 closed

[2022-01-29 23:15] Dreamsorcerer commented on #438
A simple example app that can reproduce the issue would be good.

Or, a PR if you've managed to fix it. The redis code in this library appears to be just 2 calls: `await self._redis.get(...)` and `await self._redis.set(...)`.

[2022-01-29 23:24] Dreamsorcerer commented on #480
Can you provide a complete example? I'm unable to understand your issue.

[2022-06-08 22:14] wagnerc4 opened #707 "Solution for EncryptedCookieStorage 32 bytes limit length!!!"
update cookie_storage.py

    from hashlib import sha512
    from itsdangerous import BadSignature, URLSafeTimedSerializer
    from json import loads, dumps
    from typing import Any, Callable, Optional

    from aiohttp.web import Request, StreamResponse

    from . import AbstractStorage, Session
    from .log import log

    class EncryptedCookieStorage(AbstractStorage):
        def __init__(

[2022-06-16 21:37] wagnerc4 commented on #25
Here is my super flash function: (I used with jinja2)

flash.py
    from functools import partial
    from aiohttp_session import Session

    def message(session: Session, message: str, level: str = "info") -> None:
        session.setdefault("flash", []).append((message, level))

    debug = partial(message, level="debug")
    info = partial(message, level="info")
    success = partial(message,

[2022-07-25 13:24] garyvdm opened #724 "Please support using redis.asyncio"
As per https://github.com/aio-libs/aioredis-py , aioredis is now redis.asyncio. However aiohttp-session insets on one having aioredis installed.

Please allow for using redis.asyncio.

[2022-07-25 17:16] Dreamsorcerer commented on #724
Already being looked at, once I have time to complete the review. #701

[2022-07-25 17:16] #724 closed

[2022-09-11 10:17] muazhari commented on #30
any updates from these issue?

[2022-09-11 10:51] muazhari commented on #30
The workaround to this issue by defining a custom JSONEncoder to ClientSession like below:

[code]

[2022-10-17 13:31] amenezes opened #751 "Running tests locally [question]"
In the section Developing, on the file [README.md](https://github.com/aio-libs/aiohttp-session#developing), there's instruction to run tests with command `make test` however when I try run this command locally I get follow output:

[code]
I solved this by installing `pytest-asyncio` dependency and including the `@pytest.mark.asyncio` notation in functions that start with `async def test_`. This ad

[2022-10-17 18:56] Dreamsorcerer commented on #751
It should be configured with "auto", so the decorator is not needed.

[2022-10-17 18:58] Dreamsorcerer commented on #751
I'll run through and fix things up in the coming weeks, but feel free to submit a PR which fixes the current test failures.

[2022-10-18 18:58] Dreamsorcerer commented on #707
If you'd like to make a PR (it's very easy to edit the code directly in Github), and explain what the changes do, I'm happy to take a look. But, just pasting a large block of code isn't much help on its own and anything you can do to reduce the amount of time it takes for us to review changes is greatly appreciated.

[2022-10-18 18:58] #707 closed

[2022-10-18 19:00] #480 closed

[2022-10-18 19:01] #438 closed

[2022-10-18 19:05] Dreamsorcerer commented on #30
Appears there is still no finished PR, feel free to propose one.

[2022-10-19 02:43] amenezes opened #760 "Update documentation for the redis module"
@Dreamsorcerer,

Now that **aiohttp-session** uses `redis` as dependency it's necessary update project documentation. Could I submit a PR with the changes?

Another observation is that `demo/redis_storage.py` fail because:

- [import aioredis](https://github.com/aio-libs/aiohttp-session/blob/master/demo/redis_storage.py#L4)

[code]

- [parameter `timeout=1`](https://github.com/aio-libs/aiohttp-ses

[2022-10-19 13:13] Dreamsorcerer commented on #760
Yes please.

Looks like we didn't have typing on aioredis, otherwise mypy would have caught the demo: https://github.com/aio-libs/aiohttp-session/blob/master/.mypy.ini#L30

So, a little more than just the docs, but probably need to grep the entire repo for `aioredis` and check each one.

[2022-10-28 23:35] #760 closed